.ListAllCourse-Header {
  position: relative;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  /* max-height: 50%; */
  overflow: auto;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: #fff;
}

.ListAllCourse-Main {
  position: relative;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
  height: 80%;
  overflow: auto;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: #fff;
}

.content {
  position: relative;
  flex-grow: 1;
  /* background-color: #fff; */
}
.ListAllCourseContent {
  position: relative;
  flex-grow: 1;
  padding: 2% 1%;
}

.parent-div {
  position: relative;
  width: 100%;
  padding: 5%;
  box-sizing: border-box;
  border-radius: 8px;
  overflow: hidden;
  background-color: #edf0f299;
  cursor: pointer;
}

.col-content {
  display: flex;
  flex-direction: column;
}

.img-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-div {
  position: absolute;
  left: 0px;
  top: 5px;
  display: inline-flex;
  line-height: 16px;
}

.more-div {
  position: absolute;
  right: 7px;
  top: 8px;
  display: inline-flex;
  line-height: 16px;
  cursor: pointer;
}
